body {
  font-family: 'Inconsolata', monospace;
}

.drag-block {

  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  background: #111;
  height: 100%;

  &__hand {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    margin-right: -10px;
    width: 20px;
    background: #111;
    height: 20px;
    border-radius: 50%;

    &::before,
    &::after {
      content: '→';
      position: absolute;
      top:50%;
      right: -15px;
      line-height: 0;
      font-size: 20px;
    }

    &::before {
      right:auto;
      left:-15px;
      content: '←';
    }
  }
}

.b-padding-top-50 {
  padding-top: 50px;
}

.list-links {
  margin-top: 15px;
  list-style: none;
  font-size: 1.5em;
  margin-left: 0;
  padding-left: 0;

  a {
    text-decoration: none;
    border-bottom:1px solid transparentize(#23527c,0.5);
    &:hover {
      border-bottom-color:#23527c;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

pre {
  padding: 1rem;
  background-color: #f5f5f5;
}